body, html {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow: hidden;
    background-color: #333;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.content {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0; 
    top: 0;
}
.offline-message {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #FFF;
	font-size: 2rem;
	display: none;
}
.show {
	display: block;
}
.top-bar {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	color: white;
	height: 60px;
}
.bottom-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #000;
	color: white;
}
.hamburger {
	position: absolute;
	top: 18px;
	left: 30px;
	color: #FFF;
	cursor: pointer;
	font-size: 1.5rem;
	transform: rotate(90deg);
}
.top-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 100%;
	background-color: #bbb;
	visibility: hidden;
	opacity: 0;

	&--is-showing {
		opacity: 1;
		visibility: visible;
	}

	&__container {
		width: 87%;
		margin: 60px auto 0 auto;
	}
}
a {
	color: #000;
}
a:hover {
	text-decoration: none;
}