.thumbs-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: #000;
    .thumbs-container-inside {
        height: 105px;
        padding: 0;
        margin: 0 auto;
        ul {
            text-align: center;
            list-style-type: none;
            li {
                background-size: cover;
                display: inline-block;
                width: 150px;
                height: 90px;
                cursor: pointer;
                margin: 0 5px;
                &.active {
                    border: 7px solid orange;
                }
            }
        }
    }
}

// .thumbs-container {
//     position: absolute;
//     // opacity: 0;
//     text-align: center;
//     width: 100%;
//     height: 105px;
//     left: 0;
//     bottom: 0;
//     background: #000;
//     padding: 0;
//     margin: 0;
//     ul {
//         position: relative;
//         left: 50%;
//         transform: translateX(-50%);
//         list-style-type: none;
//         margin: 5px 0;
//         padding: 0;
//         width: 793px;
//         li {
//             cursor: pointer;
//             float: left;
//             width: 150px;
//             height: 90px;
//             margin: 2px 4px;
//             background-size: cover;
//             overflow: hidden;
//             // &.video4, &.video5 {
//             //     position: relative;
//             //     .image {
//             //         position: absolute;
//             //         background-size: cover;
//             //         width: 150px;
//             //         height: 90px;
//             //         // margin: -8px -3px;
//             //     }
//             //     .new {
//             //         position: absolute;
//             //         background-size: cover;
//             //         width: 150px;
//             //         height: 90px;
//             //     }
//             // }
//         }
//     }
//     li:hover {
//         opacity: 0.5;
//     }
// }