.thumbs-container {
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 100%;
    height: 105px;
    left: 0;
    bottom: 0;
    background: #000;
    padding: 0;
    margin: 0;
    ul {
        background: orange;
        list-style-type: none;
        margin: 5px auto;
        padding: 0;
        width: 958px;
        li {
            cursor: pointer;
            float: left;
            width: 150px;
            height: 90px;
            margin: 2px 4px;
            background-size: cover;
            overflow: hidden;
            &.video5 {
                position: relative;
                .image {
                    position: absolute;
                    background-size: cover;
                    width: 150px;
                    height: 90px;
                    // margin: -8px -3px;
                }
                .new {
                    position: absolute;
                    background-size: cover;
                    width: 150px;
                    height: 90px;
                }
            }
        }
    }
    li:hover {
        opacity: 0.5;
    }

}
