.thumbs-container {
    position: fixed;
    background: #000;
    bottom: 0;
    width: 100%;
    height: 104px;
    text-align: center;
    padding-top: 4px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin: 0 auto;
    }
    li {
        display: inline-block;
        width: 156px;
        height: 88px;
        cursor: pointer;

    }
    img {
        margin: 0;
        padding: 0;
        width: 156px;
        height: 88px;
    }
    & .video {
        background-color: #000;
        padding: 4px;
        height: 96px;
        width: 164px;
    }
}
