* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #333;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}

#content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    transition: left 0.2s ease-out 0s;
    &.move-right {
        left: 400px;
    }
}

.overlay {
    visibility: hidden; // visibility: visible;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.01;
    user-select: none;
    &.hidden {
        visibility: hidden;
    }
}

.logo {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top-bar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    color: white;
    height: 60px;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    color: white;
}

@import './_thumbs-container';
@import './_header-container';