body, html {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow: hidden;
    background-color: #333;
}

.video-container {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0; 
    top: 0; 
}

.top-bar {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	color: white;
	height: 80px;
}

.bottom-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #000;
	color: white;
}

.hamburger {
	position: absolute;
	top: 30px;
	right: 30px;
	color: #FFF;
}
.top-menu {
	position: absolute;
	top: 0;
	background-color: red;
	visibility: hidden;

	&__description {
		background-color: orange;
	}
}