* {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #333;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}
.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: left 0.2s ease-out 0s;
    &.move-right {
		left: 400px;
	}
}
.logo {
	position: absolute;
	width: 300px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.header {
	position: absolute;
	height: 60px;
	padding: 18px 30px;
	&__title {
		color: #bbb;
		font-size: 1.5em;
	}
}
.top-bar {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	color: white;
	height: 60px;
}
.bottom-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 88px;
	background-color: #000;
	color: white;
}
@import './_thumbs-container';
