body, html {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow: hidden;
    background-color: #333;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.content {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0; 
    top: 0;
    transition: left 0.4s ease-out 0s;

    &.move-right {
		left: 400px;
	}
}
.logo {
	position: absolute;
	width: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.offline-message {
	position: absolute;
	left: 50%;
	top: 30px;
	transform: translate(-50%, -50%);
	color: #FFF;
	font-size: 1.3rem;
	display: none;
}
.show {
	display: block;
}
.top-bar {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	color: white;
	height: 60px;
}
.bottom-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #000;
	color: white;
}
.hamburger {
	position: absolute;
	top: 18px;
	left: 30px;
	color: #FFF;
	cursor: pointer;
	font-size: 1.5rem;
	transform: rotate(90deg);
}
.top-menu {
	position: absolute;
	top: 0;
	color: #eee;
	left: -503px;
	width: 500px;
	height: 100%;
	background-color: #333;
	transition: left 0.4s ease-out;
	border: 3px solid black;
	/*visibility: hidden;*/
	/*opacity: 0;*/
	

	&--is-showing {
		transition: left 0.4s ease-out;
		left: 0;
		/*opacity: 1;*/
		/*visibility: visible;*/
	}

	&__container {
		width: 87%;
		margin: 60px auto 0 auto;
	}
}
a {
	color: #eee;
}
a:hover {
	text-decoration: none;
}