body, html {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow: hidden;
}

#content {
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    top: 0px; 
}
.header {
	width: 100%;
	background-color: #000;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
}
.footer {
	width: 100%;
	height: 100px;
	background-color: #000;
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
}